@import "variables";

body {
  margin: 0;
  padding: 0;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 16px;
  color: $black;
}

.container {
  width: 100%;
  max-width: 1200px;
  display: table;
  margin: 0 auto;
}

img,
figure {
  max-width: 100%;
}
