@import "variables";

footer {
  background-image: url("https://www.niceapp.cl/ensena-chile-front/assets/img/bg-footer.png");
  background-size: cover;
  clip-path: ellipse(95% 100% at 50% 100%);
  position: relative;
  .container {
    padding: 120px 0 40px;
    position: relative;
    z-index: 10;
    color: #fff;
    .footer-top {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 32px;
      .col {
        img {
          max-height: 80px;
        }
      }
    }
    .footer-main {
      display: grid;
      grid-template-columns: 1fr 3fr;
      align-items: center;
      gap: 32px;
      border-top: 1px solid $gray-1;
      padding: 40px 0;
      .col {
        img {
          max-height: 65px;
        }
        nav {
          ul {
            list-style: none;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 16px;
            li {
              a {
                font-weight: bold;
                text-transform: uppercase;
                color: #fff;
                &:hover {
                }
              }
            }
          }
        }
      }
    }
    .footer-disclaimer {
      nav {
        padding: 20px 0;
        ul {
          list-style: none;
          margin: 0;
          padding: 0;
          display: flex;
          justify-content: space-between;
          align-items: center;
          li {
            a {
              color: #fff;
              &:hover {
              }
            }
          }
        }
      }
    }
    .footer-bottom {
      display: flex;
      justify-content: space-between;
      align-items: center;
      p {
        font-size: 1rem;
      }
      a.ilogica {
        display: block;
        opacity: 0.5;
        img {
          max-height: 20px;
        }
        &:hover {
          opacity: 1;
        }
      }
    }
  }
  &:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0.8;
    z-index: 0;
    background: #353535;
  }
}
