@import "variables";

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  .container {
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    a.logo {
      display: block;
      img {
        max-height: 70px;
      }
    }
    nav {
      ul {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        list-style: none;
        li {
          margin: 0 0 0 20px;
          a {
            color: $black;
            text-transform: uppercase;
            text-decoration: none;
            border-bottom: 2px solid $black;
            padding: 4px 2px;
            &:hover {
            }
          }
        }
      }
    }
  }
}
