@import "../../styles/variables";

section.hero-home {
  position: relative;
  z-index: 1;
  .container {
    position: relative;
    z-index: 4;
    min-height: 60vh;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    .data {
      max-width: 40%;
      padding: 0 0 40px 0;
      text-align: right;
      h2 {
        color: #fff;
        background-color: $red;
        display: inline;
        padding: 8px;
        font-size: 2rem;
        line-height: 190%;
        text-align: right;
        -webkit-box-decoration-break: clone;
        border-radius: 6px;
      }
      p {
        color: $black;
      }
      a.button {
        background-color: $yellow;
        color: $black;
        display: table;
        border-radius: 32px;
        margin: 24px 0 0;
        padding: 16px 32px;
        text-decoration: none;
        text-transform: uppercase;
        float: right;
        &:hover {
          background: $black;
          color: $yellow;
        }
      }
    }
  }
  .bg-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
